@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,400;0,700;1,100;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    padding: 0;
    margin: 0;
    color: white;
    cursor: none;
}

h1 {
    font-family: "IBM Plex Mono";
    font-weight: 100;
    padding: 0.5em;
}

p {
    font-family: "Roboto";
    font-weight: 300;
}

nav {
    padding: 20px;
    color: white;
    z-index: 10;
}

ul {
    list-style: none;
    text-align: right;
}

a {
    text-decoration: none;
}

li {
    display: inline;
    font-family: "Roboto";
    font-weight: 100;
    font-size: 2em;
    transition: 1s;
}

li:hover {
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px rgb(255, 255, 255),
    0 0 82px rgb(255, 255, 255),
    0 0 92px rgb(255, 255, 255),
    0 0 102px rgb(255, 255, 255),
    0 0 151px rgb(255, 255, 255);
}

div.footer {
    padding: 30px;
    left: 0;
    bottom: 0;
    width: 100%;
    position: fixed;
    background-color: white;
}

body { overflow: hidden; }

#vanta-canvas {
    width: 100%;
    height: 100vh;
}

div.main {
    right: 0;
    top: 0;
    width: 100%;
    position: fixed;
}

div.main2 {
    background: url(bg.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: fixed;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

p.about {
    padding: 1.5em;
}

button.projects {
    cursor: none;
    font-family: 'Roboto';
    font-weight: 300;
    font-size: 1.5em;
    background: transparent;
    padding: 1.3em;
    border: 0.13em#fff solid;
    transition: 1s;
    border-radius: 2.1em;
    width: 15%;
    height: 10%;
    overflow: hidden;
    white-space: nowrap;
}

button.projects:hover {
    transition: 1s;
    transition-duration:1s;
    background-color: white;
    color: black;
}

/*Cursor Start*/
[class^="cursor"]{
    position: fixed;
    top: 0;
    left: 0;
    transform: translate(-50%,-50%);
    border-radius: 50%;
    z-index: 9999;
    pointer-events: none;
}
.cursor-outer{
    width: 50px;
    height: 50px;
    border: 1px solid #fff;
    transition: all .08s ease-out;
}
.cursor-inner{
    width: 0.5em;
    height: 0.5em;
    background: #fff;
}
.content:hover ~ .cursor-outer{
    width: 90px;
    height: 90px;
    background: #fff;
    mix-blend-mode: difference;
}
.content:hover ~ .cursor-inner{
    opacity: 0;
}

abbr {
    font-family: 'Noto Color Emoji', sans-serif;
}

.container {
  display: inline-block;
} 

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
  }

  .typed-out{
    overflow: hidden;
    border-right: .1em solid rgb(255, 255, 255);
    white-space: nowrap;
    font-size: 1.6rem;
    width: 0;

    animation: 
      typing 4s steps(20, end) forwards;
  }

  :root {
    --primary-color: #212121;
    --background-color: #111;
    --font: sans-serif;
  }
  
  * {
    margin: 0;
    padding: 0;
  }
  
body {
    background: var(--background-color);
    font-family: var(--font);
    display: flex;
    justify-content: center;
  }

p.copyright {
    color: black;
}
